@import url('https://fonts.googleapis.com/css2? family= Aguafina+Script & display=swap');
body{
	background-color: rgb(255,192,203);
}

header, img{
 width: 100%;
 height: 350px;
}

*{margin:300; padding:200;}
img{
	width:200;
	height:100;
}

#nav-topo{
    width: 99%;
	height: 50px;
	background-color: #F08080;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav{
	width:100%;
	height:30px;
	background-color: #F08080;
	text-align: center;
	padding: 10px;
    float: left
}

 a{
 	color: darkred;
 	font-family: 'kaushan Script', cursive;
 	text-decoration: none;
 	
}

.menu:link, .menu:visited{
	color: #F08080;
	margin right: 2em;

}
.a-menu{
	margin-right: 30px;
 	font-weight: bold;


}
.a-menu:hover,.a-menu:active{
	color: darkred;
}

.a-menu:link,.a-menu:visited{
	color: #FFC0CB;

}


article{
       width: 100%;
       background-color: #FFC0CB;
       padding: 20px;
       box-sizing: border-box;
}
 h1{
 	font: 3rem "kaushan Script", cursive;
 	color: darkred;
 	text-align: center;
 	background-color: #F08080;
    margin: 50px;
    padding: 30px;
    border: 10px dashed #F08080;
    
 }

 p{
 	font-family: 'kaushan Script', cursive;
 	font-size: 20px;
 	color: black;
 	text-align: justify;
 	text-indent: 20px;
 	line-height: 30px;
 }

#txt-preto{
color: #000;

}

section{

}

h2{
 font: 3rem "kaushan Script", cursive;
 	color: darkred;
 	text-align: left;
} 	
#pag-salgados{
	background-color: ;
}

ul{
	list-style-type: circle;
	margin-left: 2px;

}
.img-salgados{
    width: 300px;
    height:300px;
}

#pag-Bebidas{ 
	background-color: ;
	margin-top: 30px;

}

ul{ 
	list-style-type: circle;
	margin-left: 2px;
	padding:20px 50px;

}

li{
    font: 1rem "kaushan Script", cursive;
 	color: black;
    margin-bottom: 10px;
}
.img-Bebidas{
    width: 300px;
    height:300px;

}
.card{
background-color: #FFC0CB;
width: 30%
border-radius: 30px;

}

.img-icones{
width: 30px;
height: 30px;

}

video{
width:  500px;

}

footer p, footer a{
	background-color: #F08080;
	color: darkred;
	padding: 5px;
    clear: both;
}

#bt-topo{
	width: 70px;
	height: 70px;
	background-color: darkred;
	border-radius: 35px;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/*faça seu pedido*/

#pag-façaseupedido p{
text-align: center;
margin-bottom: 20px;

}

#pag-façaseupedido h1{
	text-align: center;
}

form{
	width: 400px;
	margin: 0 auto;
	
}

input, select, textarea{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px; solid #FFC0CB;
    font: 1rem "kaushan Script", cursive;
    color: #777;
}

label, fieldset,input, select, textarea{
    font: 1rem "kaushan Script", cursive;

}

fieldset{
    margin-bottom: 10px;
    padding: 10px;
}

input[type="radio"]{ 
	width: 15px;
	height: 15px;
	margin-left: 50px;

}

textarea{
	height: 80px;
}

#botoes-form{
	display: flex;
}

input[type="submit"], input[type="reset"]{
	margin: 20px;
	background-color: #8BC34A;
	color: black;
	border: 0;
	border-radius: 5px;
}

input[type="reset"]{
	background-color: red;


/*END*/